body {
  color: #fff;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 800% 800%;
  /* -webkit-animation: Gradient 15s ease infinite;
-moz-animation: Gradient 15s ease infinite;
animation: Gradient 15ease infinite; */
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

pre {
  color: tomato;
}

.table-bordered {
  border: none;
}

.container-fluid {
  /* width: 80%; */
  padding-top: 50px;
}

.form-inline {
  padding-left: 0.75%;
  padding-right: 0.75%;
}

.form-inline .form-control {
  width: 19.67895%;
  margin-right: 0.135%;
  margin-left: 0.135%
}

.course-link {
  color: white;
}

.course-link:hover {
  text-decoration: none;
  color: white;
}

.filtered-data {
  background-color: rgba(255, 149, 149, 0.966);
}

/* BUTTON STYLE FOR FRONT PAGE */

.btn-facebook {
  background-color: #4267B2;
}

.btn-facebook:hover {
  background-color: #3B5DA0;
}

.btn-twitter {
  background-color: #FFFFFF;
  color: #1DA1F2;
}

.btn-twitter:hover {
  background-color: #DDDDDE;
  color: #1DA1F2;
}

.btn-instagram {
  background-color: #ED4956;
}

.btn-instagram:hover {
  background-color: #DD414E;
  color: #FFFFFF;
}

.btn-github {
  background-color: #202020;
}

.btn-github:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.btn-steam {
  background-color: #202020;
}

.btn-steam:hover {
  background-color: #000000;
  color: #FFFFFF;
}
